:root {
  --primary-background: #fdfdff;
  --secondary-background: #edede9;
  --field: #9ea7a7;
  --button: #6eb0c4;
  --button-notread-hover: #ff3333;
  --font: #100b00;
  --font-winner: #d00000;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 18px;
  font-weight: 400;
  background: var(--field);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  background: url(./images/backround.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-background);
}

/* Header */
.header {
  width: 100%;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  font-family: cursive;
  font-size: 4rem;
}
.nav-button {
  color: var(--primary-background);
  position: relative;
  padding: var(--spacing-lg);
  font-size: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 300ms;
  outline: none;
}
.nav-button:hover {
  transform: translateY(-10px);
}
.nav-button::before {
  content: "";
  background: var(--primary-background);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 200ms ease-in;
}

.nav-button.active::before {
  width: 100%;
  outline: none;
}
.main {
  padding: var(--spacing-lg);
}

/* Footer */
.footer {
  width: 100%;
  padding: var(--spacing-md);
  text-align: center;
}

/* Home */
.home {
  height: auto;
  /* background: rgba(255, 255, 255, 0.9);
  border-radius: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(8px);
}

.home p span {
  opacity: 0;
  animation: fadein 1s forwards;
}

/* Menu */
.menu {
  padding: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-md);
  background: rgba(7, 7, 7, 0.5);
  border-radius: 32px;
}

.menu-card {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-rows: minmax(100%, 1fr);
  grid-template-areas: "stack";
  overflow: hidden;
}
.card-image,
.card-info {
  grid-area: stack;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-info {
  padding: var(--spacing-sm);
  border-radius: 16px 16px 0 0;
  background-color: #242424e0;
  backdrop-filter: blur(8px);
  transform: translateY(calc(100% - 3rem));
  transition: transform 600ms;
}
.card-title {
  height: 3rem;
}
.menu-card:hover .card-info {
  transform: none;
}

/* Animation */
/* .content, */
/* .home, */
.menu,
.contact {
  animation: fadein 1s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  :root {
    --spacing-xl: 20px;
  }
  body {
    background-image: url(./images/mobile-bckgr.jpg);
  }
  .menu {
    grid-template-columns: 1fr;
  }
  .menu-card {
    height: 200px;
    width: 280px;
  }
}
